extra_streamlit_components==0.1.55
factor_analyzer==0.4.1
h5py==3.7.0
loguru==0.7.2
matplotlib==3.5.2
numpy==1.22.1
pandas==1.4.2
pandasql==0.7.3
Pillow==10.1.0
plotly==5.8.1
PyJWT==2.8.0
python_bcrypt==0.3.2
Requests==2.31.0
scikit_learn==1.1.1
scipy==1.7.3
sqlparse==0.4.2
statsmodels==0.13.2
streamlit==1.26.0
streamlit_ace==0.1.1
streamlit_authenticator==0.2.1
streamlit_lottie==0.0.3
